#       Day 2 Assignments

#Try 5 different functions of the strings functions in python

In [15]:
name="rick"

In [16]:
surname="hordan"

In [28]:
name+" "+surname

'rick hordan'

In [33]:
name.upper()

'RICK'

In [35]:
surname.upper()

'HORDAN'

In [38]:
name.find("k")

3

In [41]:
surname.isupper()

False

In [44]:
name.isspace()

False

In [52]:
surname.index("d")

3

In [53]:
#try find different function of the list object in python

In [54]:
lets=[1,2,4,5,"hero","zero"]

In [61]:
lets.extend([77,88,99])

In [62]:
lets

[1, 2, 4, 5, 'hero', 'zero', 77, 88, 99]

In [67]:
lets[4]

'hero'

In [69]:
lets.remove("hero")

In [70]:
lets

[1, 2, 4, 5, 'zero', 77, 88, 99]

In [74]:
lets.insert(4 ,"hero")

In [75]:
lets

[1, 2, 4, 5, 'hero', 'zero', 77, 88, 99]

In [76]:
lets.pop(3)

5

In [77]:
lets

[1, 2, 4, 'hero', 'zero', 77, 88, 99]

In [78]:
lets.sort()

In [79]:
lets

[1, 2, 4, 77, 88, 99, 'hero', 'zero']

In [80]:
#try 5 different functions of dictionary

In [81]:
my_life={'name':'rick','surname':'hordan','adress':'meghalaya','age':20}

In [82]:
my_life

{'adress': 'meghalaya', 'age': 20, 'name': 'rick', 'surname': 'hordan'}

In [83]:
my_life.pop('age')

20

In [88]:
my_life

{'adress': 'meghalaya', 'name': 'rick', 'surname': 'hordan'}

In [90]:
my_life['surname']

'hordan'

In [94]:
my_life.items()

[('adress', 'meghalaya'), ('surname', 'hordan'), ('name', 'rick')]

In [95]:
my_life.clear()

In [96]:
my_life

{}